<html>
<head>
  <title>Fotomultas en Colombia</title>
</head>
<body>
      <h1> Fotomultas en Colombia </h1>
      <a href="{{ url_for('tiposDeMultas')}}"> Tipos de multas </a>
      <a href="{{ url_for('multasEnDepartamento')}}"> Multas en Departamento </a>
      <a href="{{ url_for('BusquedaMultas')}}"> Busqueda Multas </a>
      <a href="{{ url_for('multas_menores')}}"> Multas menores de 18 </a>
      <a href="{{ url_for('multas_mayores')}}"> Multas mayores de 60 </a>
</body>
</html>
